#contant{
	text-align: center;
	background-image: url('../images/services2.jpg');
	background-attachment: fixed;

	jumbotron{
	
	
	height: 6em;
	margin-top: 0px;
	margin-bottom: 8px;

	}

	h2{
		color: #2BB8CE;
		
		text-transform: uppercase;
		font-weight: bold;
	}
	i{
		font-size: 6em;
		color: #0DA627;
	}
	i.action{
		font-size: 6em;
		color: #FFF;
	}
	p{
		color: #FFF;
	}

}